<div class="row featurette">
  <a class="text-muted" [routerLink]="['/bio']">« Partners</a>
</div>
<br />
<div class="row featurette" *ngIf="partner">
  <div class="col-md-7">
    <h2 class="featurette-heading">{{ partner.name }}</h2>
    <p class="lead">{{ partner.biography }}</p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
         src="{{ partner.photoUrl }}"
         alt="{{ partner.name }}"
         title="{{ partner.name }}" />
  </div>
</div>
